#content{
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    color: #163c5e;
    text-align: center;
    padding: 35px;
}

#hero-msg h1{
    text-align: center;
} 

#hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
}

body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #84CAE7;
}
h2{
    margin: 0;
}

header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #E9D81B;
}

nav a:hover{
    text-decoration: none;
    color: #163c5e;
    background-color: #E9D81B;
}

.book{
    border-radius: 5px;
    margin-top: 50px;
    padding: 15px 30px;
    font-size: 18px;
    text-decoration: none;
    background-color: #84CAE7;
    color: #163c5e;
}

.join{
    border-radius: 5px;
    margin-top: 50px;
    padding: 15px 30px;
    font-size: 18px;
    text-decoration: none;
    background-color: #84CAE7;
    color: #163c5e;
}

.book:hover{
    background-color: #E9D81B;
    color: #163c5e;
}

.join:hover{
    background-color: #E9D81B;
    color: #163c5e;
}

#background{
    background-color: #84CAE7;
}

.msg{
    padding: 35px;
    background-color: #84CAE7;
}

footer{
    background-color: #84CAE7;
}

.home-title{
    margin-top: 10px;
    font-size: 2em;
    color: #163c5e;
}

h4{
    color: #163c5e;
}

.msg h2{
    line-height: 1.5em;
    color: #163c5e;
}

.msg p{
    padding-bottom: 15px;
    font-size: .8em;
    color: #163c5e;
}

footer{
    padding: 25px 50px;
    margin-top: 200px;
}

footer h3{
    color: #163c5e;
}

footer a{
    text-decoration: none;
    color: #163c5e; 
}

footer a:hover{
    text-decoration: underline;
    color: #163c5e;
}

footer p {
    text-decoration: underline;
    font-size: 1.2em;
} 

footer .social img{
      padding-top: 15px;
}

.logo {
    width: 80px;
}
#logo_link{
    padding-top: 5px;
}

#hero-img {
    width: 100%;
}
.icon{
    padding-top: 10px;
}

.card-img {
    border: 10px solid #000000;
}

.rivers-card{
    margin: 200px 0;
}

.camping-card{
    margin: 200px 0;
}

.rapids-card{
    margin: 200px 0;
}